@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color:  #fffffc;
  color: #4e4449;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #282828;
  text-decoration: none;
}

a:visited {
  color: #282828;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 50px;
  
}

.global-nav {
  float: right;
  margin-top: 60px;
}

.global-nav li {
  font-size: 20px;
  float: left;
  margin: 0 20px;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
}

.global-nav li a {
  color: #282828
}

.global-nev li a:hover {
  border-bottom:2px solid #282828;
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;
  padding:35px 0;
}

.content {
  width: 960;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 20px 0;
}

footer small {
  font-size: 15px;
}

#index h1 {
  font-size: 30px;
  color: #fffffc;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  border: none;
  
}

#index .content {
  margin-top: 300px;
  color: #fffffc;
  font-family:　'M PLUS Rounded 1c', sans-serif;
  text-align: center;
}

#index p {
  color: #fffffc;
}

#index {
  background-image: url(https://github.com/tokyo2pm/portfolio/blob/master/back.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
#index footer {
  background-color: transparent;
}

#about {
  background-color: #fffffc;
  background-image: url(https://github.com/tokyo2pm/portfolio/blob/master/back3.png?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#about h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
  color:#4e4449; 
}

#about p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color:#4e4449;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

#about .about-txt {
  width: 200px;
  float: left;
}

#about .about-image {
  float: right;
}

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0
}

#work {
  background-color: #fffffc;
  background-image: url(https://github.com/tokyo2pm/portfolio/blob/master/back3.png?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#work h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
  color:#4e4449; 
}

#work p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color:#4e4449;
}

#work .shiori-resize {
  max-width: 90%;
  height: auto;
}

a img:hover {
  opacity: 0.7;
}

#contact {
  background-color: #fffffc;
  background-image: url(https://github.com/tokyo2pm/portfolio/blob/master/back3.png?raw=true);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#contact h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
  color:#4e4449; 
}

#contact p {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color:#4e4449;
}
